# Import Dataset

In [1]:
import pandas as pd
dataset=pd.read_csv('D:/machine learning/m7/water_potability.csv')
dataset

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,NaN,204.890456,20791.31898,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,0
1,3.716080,129.422921,18630.05786,6.635246,NaN,592.885359,15.180013,56.329076,4.500656,0
2,8.099124,224.236259,19909.54173,9.275884,NaN,418.606213,16.868637,66.420093,3.055934,0
3,8.316766,214.373394,22018.41744,8.059332,356.886136,363.266516,18.436525,100.341674,4.628771,0
4,9.092223,181.101509,17978.98634,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0
...,...,...,...,...,...,...,...,...,...,...
3271,4.668102,193.681736,47580.99160,7.166639,359.948574,526.424171,13.894419,66.687695,4.435821,1
3272,7.808856,193.553212,17329.80216,8.061362,NaN,392.449580,19.903225,NaN,2.798243,1
3273,9.419510,175.762646,33155.57822,7.350233,NaN,432.044783,11.039070,69.845400,3.298875,1
3274,5.126763,230.603758,11983.86938,6.303357,NaN,402.883113,11.168946,77.488213,4.708658,1
3275,7.874671,195.102299,17404.17706,7.509306,NaN,327.459761,16.140368,78.698446,2.309149,1

# Mengisi Missing Value dengan rata-rata

In [2]:
data=dataset.fillna(dataset.groupby('Potability').transform('mean'))
data

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,7.085378,204.890456,20791.31898,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,0
1,3.716080,129.422921,18630.05786,6.635246,334.564290,592.885359,15.180013,56.329076,4.500656,0
2,8.099124,224.236259,19909.54173,9.275884,334.564290,418.606213,16.868637,66.420093,3.055934,0
3,8.316766,214.373394,22018.41744,8.059332,356.886136,363.266516,18.436525,100.341674,4.628771,0
4,9.092223,181.101509,17978.98634,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0
...,...,...,...,...,...,...,...,...,...,...
3271,4.668102,193.681736,47580.99160,7.166639,359.948574,526.424171,13.894419,66.687695,4.435821,1
3272,7.808856,193.553212,17329.80216,8.061362,332.566990,392.449580,19.903225,66.539684,2.798243,1
3273,9.419510,175.762646,33155.57822,7.350233,332.566990,432.044783,11.039070,69.845400,3.298875,1
3274,5.126763,230.603758,11983.86938,6.303357,332.566990,402.883113,11.168946,77.488213,4.708658,1
3275,7.874671,195.102299,17404.17706,7.509306,332.566990,327.459761,16.140368,78.698446,2.309149,1

# Menghapus baris yang berisi Missing Value

In [3]:
data=dataset.dropna()
data

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
3,8.316766,214.373394,22018.41744,8.059332,356.886136,363.266516,18.436525,100.341674,4.628771,0
4,9.092223,181.101509,17978.98634,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0
5,5.584087,188.313324,28748.68774,7.544869,326.678363,280.467916,8.399735,54.917862,2.559708,0
6,10.223862,248.071735,28749.71654,7.513408,393.663395,283.651634,13.789695,84.603556,2.672989,0
7,8.635849,203.361523,13672.09176,4.563009,303.309771,474.607645,12.363817,62.798309,4.401425,0
...,...,...,...,...,...,...,...,...,...,...
3267,8.989900,215.047358,15921.41202,6.297312,312.931021,390.410231,9.899115,55.069304,4.613843,1
3268,6.702547,207.321086,17246.92035,7.708117,304.510230,329.266002,16.217303,28.878601,3.442983,1
3269,11.491011,94.812545,37188.82602,9.263166,258.930600,439.893618,16.172755,41.558501,4.369264,1
3270,6.069616,186.659040,26138.78019,7.747547,345.700257,415.886955,12.067620,60.419921,3.669712,1
3271,4.668102,193.681736,47580.99160,7.166639,359.948574,526.424171,13.894419,66.687695,4.435821,1

# Normalization Range 0 - 1

In [4]:
from sklearn.preprocessing import MinMaxScaler

sc=MinMaxScaler(feature_range=(0,1))
data=sc.fit_transform(data)
data

array([[0.58734916, 0.57774671, 0.38629788, ..., 0.79502934, 0.63011476,
        0.        ],
       [0.64365393, 0.44130034, 0.31438058, ..., 0.20291434, 0.52035803,
        0.        ],
       [0.38893354, 0.47087564, 0.50612238, ..., 0.40148717, 0.21997295,
        0.        ],
       ...,
       [0.81782618, 0.08743355, 0.65638906, ..., 0.28574454, 0.5786739 ,
        1.        ],
       [0.42418706, 0.4640915 , 0.45965606, ..., 0.44915584, 0.44000443,
        1.        ],
       [0.32242529, 0.49289123, 0.84140928, ..., 0.50345848, 0.59186714,
        1.        ]])

Merapikan bentuuk data kembali seperti semula

In [5]:
data=pd.DataFrame(data,columns=['ph','Hardness','Solids','Chloramines','Sulfate','Conductivity','Organic_carbon','Trihalomethanes','Turbidity','Potability'])
data

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,0.587349,0.577747,0.386298,0.568199,0.647347,0.292985,0.654522,0.795029,0.630115,0.0
1,0.643654,0.441300,0.314381,0.439304,0.514545,0.356685,0.377248,0.202914,0.520358,0.0
2,0.388934,0.470876,0.506122,0.524364,0.561537,0.142913,0.249922,0.401487,0.219973,0.0
3,0.725820,0.715942,0.506141,0.521683,0.751819,0.148683,0.467200,0.658678,0.242428,0.0
4,0.610517,0.532588,0.237701,0.270288,0.495155,0.494792,0.409721,0.469762,0.585049,0.0
...,...,...,...,...,...,...,...,...,...,...
2006,0.636224,0.580511,0.277748,0.418063,0.522486,0.342184,0.310364,0.402799,0.627156,1.0
2007,0.470143,0.548826,0.301347,0.538273,0.498565,0.231359,0.565061,0.175889,0.395061,1.0
2008,0.817826,0.087434,0.656389,0.670774,0.369089,0.431872,0.563265,0.285745,0.578674,1.0
2009,0.424187,0.464092,0.459656,0.541633,0.615572,0.388360,0.397780,0.449156,0.440004,1.0
2010,0.322425,0.492891,0.841409,0.492136,0.656047,0.588709,0.471422,0.503458,0.591867,1.0

# Sort Data

In [6]:
#ascending is default
ak=data.sort_values(by=['ph'])
ak

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
444,0.000000,0.324130,0.689144,0.176517,0.439433,0.437556,0.443507,0.465641,0.415430,1.0
499,0.055358,0.244928,0.295577,0.673341,0.895876,0.218718,0.331768,0.303245,0.735538,1.0
1776,0.087441,0.634163,0.224618,0.411030,0.541811,0.532441,0.396399,0.455404,0.693482,0.0
425,0.111057,0.303838,0.733825,0.539983,0.701680,0.411121,0.347837,0.488887,0.300819,1.0
1896,0.127637,0.586386,0.404474,0.458277,0.610783,0.252769,0.374828,0.607820,0.490231,0.0
...,...,...,...,...,...,...,...,...,...,...
1285,0.823472,0.489786,0.692809,0.636487,0.303938,0.474541,0.702559,0.631759,0.458157,0.0
478,0.847383,0.634173,0.141996,0.725006,0.618269,0.541122,0.535616,0.476096,0.312200,1.0
802,0.872712,0.590027,0.195792,0.602779,0.701345,0.264686,0.304857,0.565359,0.412953,0.0
1774,0.952796,0.325141,0.323032,0.453906,0.584790,0.451724,0.604375,0.669767,0.214297,0.0
1273,1.000000,0.665114,0.421738,0.361632,0.716124,0.469666,0.453609,0.556929,0.341146,0.0

Sort descending

In [7]:
#descending
dk=data.sort_values(by='ph',ascending=False)
dk

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
1273,1.000000,0.665114,0.421738,0.361632,0.716124,0.469666,0.453609,0.556929,0.341146,0.0
1774,0.952796,0.325141,0.323032,0.453906,0.584790,0.451724,0.604375,0.669767,0.214297,0.0
802,0.872712,0.590027,0.195792,0.602779,0.701345,0.264686,0.304857,0.565359,0.412953,0.0
478,0.847383,0.634173,0.141996,0.725006,0.618269,0.541122,0.535616,0.476096,0.312200,1.0
1285,0.823472,0.489786,0.692809,0.636487,0.303938,0.474541,0.702559,0.631759,0.458157,0.0
...,...,...,...,...,...,...,...,...,...,...
1896,0.127637,0.586386,0.404474,0.458277,0.610783,0.252769,0.374828,0.607820,0.490231,0.0
425,0.111057,0.303838,0.733825,0.539983,0.701680,0.411121,0.347837,0.488887,0.300819,1.0
1776,0.087441,0.634163,0.224618,0.411030,0.541811,0.532441,0.396399,0.455404,0.693482,0.0
499,0.055358,0.244928,0.295577,0.673341,0.895876,0.218718,0.331768,0.303245,0.735538,1.0
444,0.000000,0.324130,0.689144,0.176517,0.439433,0.437556,0.443507,0.465641,0.415430,1.0

# Menyimpan dataset

In [8]:
dk.to_csv('water_potability_desc.csv')